
.controlBtn { 
    width:100px;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-color: #E6E9ED;
    box-sizing: border-box;
    cursor: pointer;
}

.controlBtn * { 
    height: 24px;
    width: 24px; 
}

.active { 
    background-color: #8a8b8e;
}