
.titlebar { 
    width: 100vw;
    background-color: #2F80ED;
    height: 80px;
    color: #F7F7F7;
    padding-left: 24px;
    padding-right:24px; 
    box-sizing:border-box;
    
    display: flex;
    flex-direction:row;
    align-items: center;

    flex-shrink: 0;
}

.titlebar h1 { 
    margin:0;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    line-height:56px;
    font-size: 48px;
    
    font-weight: bold;
}

.titlebar .user {
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: right;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    margin-left:auto; 
    margin-right:0;
    font-weight: bold;
}

.titlebar .user span {
    font-size: 30px;
}

.titlebar .user span .usericon {
    font-size: 30px;
    margin-top: -5px;
    margin-right: 15px;
}